<li data-bind="css: { completed: completed, editing: editing }" class="completed">
	<div class="view">
		<input class="toggle" type="checkbox" data-bind="checked: completed">
		<label data-bind="text: title, event: { dblclick: $root.editItem }"></label>
		<button class="destroy" data-bind="click: $root.remove"></button>
	</div>
	<input class="edit" data-bind="value: title, valueUpdate: 'afterkeydown', enterKey: $root.stopEditing, selectAndFocus: editing, event: { blur: $root.stopEditing }">
</li>